{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Test de Predicción de VIH {% endblock %}
{% load static %}
{% block head %}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/colorpicker/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">

{% endblock %}
{% block custom_scripts %}
<style>
    .center {
        justify-content: center;
        text-align: center;
    }

    
    .nav-link.active {
        background-color: #FFFFFF!important;
    }

    .calendar-box {
        background-color: #3498db;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    
    .calendar-date {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
    
    .calendar-month {
        font-size: 14px;
        margin: 0;
    }
      
    .custom-pagination {
        margin-top: 20px; /* Espacio superior entre la tabla y la paginación */
        text-align: center; /* Centra los elementos de la paginación */
    }
    
    .custom-pagination .first {
        margin: 0 5px; /* Espacio entre los enlaces de paginación */
        text-decoration: none; /* Elimina la subraya predeterminada */
        color: #ffffff; /* Color de los enlaces de paginación */
        font-weight: bold;
        background-color: #00A5E3;
        padding: 10px;
        border-radius: 10px;
    }

    .custom-pagination .second {
        margin: 0 5px; /* Espacio entre los enlaces de paginación */
        text-decoration: none; /* Elimina la subraya predeterminada */
        color: #000000; /* Color de los enlaces de paginación */
        font-weight: bold;
    }
    
    .custom-pagination .current-page {
        font-weight: bold;
        color: #333; /* Color del número de página actual */
        background-color: #cdcdcd;
        padding: 10px;
        border-radius: 10px;
    }
   
  </style>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox">
            <div class="ibox-title">
                <h2>Formulario de Predicción de VIH</h2>
            </div>
            <div class="ibox-content">

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}

                                                
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <label>{{field.label}}</label>
                            </div>
                            <div class="col-sm-9">
                                {% if field.label == "Uso proteccion" or field.label == "Consumo drogas" or field.label == "Historial its" %}
                                    {{field}}
                                {% elif field.label == "Sexo" or field.label == "Estado civil" or field.label == "Orientacion sexual" or field.label == "Nivel socioeconomico" %}
                                    {{field|add_class:'form-control chosen-select'}}
                                {% else %}
                                    {{field|add_class:'form-control'}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Predecir</button>
                </form>

                <!--<p><strong>Ecuación de la red neuronal:</strong></p>
                <pre style="font-family: monospace; font-size: 14px; width:100%">{{ ecuacion|safe }}</pre>

                <p><strong>Ecuación de la regresión logística:</strong></p>
                <p style='font-family: monospace;'>
                    &nbsp;&nbsp;-0.026 × edad <br>
                    &nbsp;&nbsp;-2.183 × uso_proteccion <br>
                    &nbsp;&nbsp;+2.334 × consumo_drogas <br>
                    &nbsp;&nbsp;+2.125 × n_parejas_sexuales <br>
                    &nbsp;&nbsp;+4.593 × historial_its <br>
                    &nbsp;&nbsp;+1.689 × cantidad_tatuajes <br>
                    &nbsp;&nbsp;+0.161 × cantidad_donaciones_dadas <br>
                    &nbsp;&nbsp;+2.141 × cantidad_donaciones_recibidas <br>
                    &nbsp;&nbsp;+0.058 × sexo_F <br>
                    &nbsp;&nbsp;-0.058 × sexo_M <br>
                    &nbsp;&nbsp;+0.032 × estado_civil_Casado <br>
                    &nbsp;&nbsp;+0.04 × estado_civil_Divorciado <br>
                    &nbsp;&nbsp;+0.093 × estado_civil_Soltero <br>
                    &nbsp;&nbsp;-0.167 × estado_civil_Viudo <br>
                    &nbsp;&nbsp;+0.66 × orientacion_sexual_Bisexual <br>
                    &nbsp;&nbsp;-1.526 × orientacion_sexual_Heterosexual <br>
                    &nbsp;&nbsp;+0.858 × orientacion_sexual_Homosexual <br>
                    &nbsp;&nbsp;-0.166 × nivel_socioeconomico_Alto <br>
                    &nbsp;&nbsp;+0.144 × nivel_socioeconomico_Bajo <br>
                    &nbsp;&nbsp;+0.022 × nivel_socioeconomico_Medio <br>
                </p>-->
            </div>
        </div>
    </div>

{% endblock content %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js'%}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>


    <!-- Date picker -->
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

    <!-- Color picker -->
    <script src="{% static 'js/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>



    <script src="{% static 'js/ajax-models.js' %}"></script>
{% endblock %}
{% block scripts %}

{% endblock %}